.github-search-bar {
  display: flex; /* ganti inline-flex jadi flex */
  align-items: center;
  border: 1px solid #000;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;

  input {
    border: none;
    flex: 1;
    height: 44px;
    outline: none;
  }
}