.spinner {
  display: inline-block;
  border-radius: 900px;
  border-style: solid;
  border-color: #eee;
  border-right-color: #000;
  animation: spin 0.75s linear infinite;

  &--sm {
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  &--md {
    width: 32px;
    height: 32px;
    border-width: 5px;
  }

  &--lg {
    width: 54px;
    height: 54px;
    border-width: 7px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}